/* --- PAGES LÉGALES (Mentions, CGV, etc.) --- */
.legal-section {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    min-height: 60vh; /* Pour que le pied de page reste en bas */
}

.legal-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #2e5c38;
    margin-bottom: 30px;
    border-bottom: 2px solid #d34545;
    padding-bottom: 15px;
}

.legal-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.legal-section p, .legal-section ul li {
    margin-bottom: 15px;
    color: #555;
    text-align: justify;
}

.legal-section ul {
    padding-left: 20px;
}